<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PracticaEntities" connectionString="metadata=res://*/Modelo.PracticaEntities.csdl|res://*/Modelo.PracticaEntities.ssdl|res://*/Modelo.PracticaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VK2A2CF;initial catalog=AGM;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>